* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#root{
    display: flex;
    justify-content: center;
}
.main-card{
    position: relative;
    display: block;
    margin-top: 5%;
    background-color: rgba(255,255,255,0.3);
    align-items: center;
    padding: 3em;
    height: 600px;
    width: 500px;
    border-radius: 20px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;

}

body {
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
img{
    position: relative;
    margin: 10px;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
}
.btn{
    display: flex;
    background: transparent;
    padding: 8px;
    margin-bottom: 5px;
    margin-left: 43%;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 50px;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

